body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #3f3f3f;
}

.app {
  padding: 24px 40px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}

.section-title {
  color: white;
  font-style: italic;
  margin-bottom: 12px;
}

.dashboard-top {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  gap: 48px; 
  background: #6f6f6f;
  border-radius: 14px;
  padding: 28px 36px;
}

.dashboard-bottom {
  display: flex;
  gap: 24px;
  margin-top: 28px;
}

.left-section {
  flex: 2;
}

.right-section {
  flex: 1;
}

.chart-container {
  margin-left: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.wallet-card {
  margin-right: 10px;
}


.recharts-pie-label-text {
  fill: white;
  font-weight: 700;
  font-size: 14px;
}



/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */