.top-expenses-card {
  background: white;
  border-radius: 18px;
  padding: 18px;
}

.top-expenses-card > div {
  margin-bottom: 20px;
}

.top-expenses-card span {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.bar {
  width: 100%;
  height: 14px;
  background: #eaeaf5;
  border-radius: 10px;
  overflow: hidden;
}

.fill {
  height: 100%;
  background: #8e8cd8;
  border-radius: 10px;
}
