.wallet-card {
  background-color: #9b9b9b;
  width: 350px;
  height: 180px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin-left: 50px;
}

.wallet-card h2 {
  color: white;
  font-weight: 500;
}

.wallet .amount {
  color: #7cff3f;
}

.expense .amount {
  color: #ffc107;
}

.wallet .wallet-btn,
.expense .wallet-btn {
  border-radius: 25px;
  padding: 8px 22px;
  text-transform: none;
  font-weight: 600;
}

.wallet .wallet-btn {
  background-color: #9ddb3f;
}

.expense .wallet-btn {
  background-color: #ff6b6b;
}
